* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 20rem;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* HEADER---------------------------------- */
header {
    display: block;
    width: 100%;
}

#idHeader {
    background-color: white;
    color: black;
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-evenly;
}

#idHeader ul {
    z-index: 100;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#idHeader ul li {
    width: 14rem;
    float: left;
}

#idHeader a {
    color: black;
    padding: 0.3125rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: white;
    transition:  all .4s;
}

#idHeader ul ul {
    position: absolute;
    visibility: hidden;
    display: block;
}

#idHeader ul li:hover ul {
    visibility: visible;
}

#idHeader ul ul li {
    float:none;
    border-bottom: solid 1px #CDCDCD;
}

#idHeader ul ul li a:hover{
    background-color: #443636;
    color: white;
    transition: all .4s;
}

#imageNoCheck {
    display: none;
}

label[for="bt_menu"] {
    padding: 0.3125rem;
    color: #000;
    text-align: center;
    font-size: 1.875rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"]{
    display: none;
}



/* MAIN-------------------------- */

/* DISCOS */
main#mainDisco {
    color: white;  
    font-size: 0.7rem;
    font-weight: 500;
    text-align: justify;
}

main#mainDisco h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

div section.FaixaImpar, div section.FaixaPar {
    width: 50%;
}

div section.FaixaImpar {
    margin-right: 4rem;
    align-self: flex-end;
}

.FaixaImpar article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FaixaImpar {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}
 
.FaixaPar {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    margin-left: 6rem;
}

iframe {
    margin-top: 0.5rem;
    height: 5rem;
    width: 90%;
}

/* TEXTOS----------------------------- */
#TagMain, #mainDisco{
    line-height: 180%;
    text-align: justify;
}

#TagMain {
    font-weight: 500;
}

div, .cIndex0 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:  center;
}

/* TÍTULOS */
h2{
    margin-left: 1rem;
    width: 50%;
    text-align: center;
}

/* TÍTULO PRIMEIRO ACÚSTICO */

/* TÍTULO BIOGRAFIA */
h3.biog {
    margin-bottom: 1rem;
    font-size: 2.81rem;
    text-align: center;
}

/* TÍTULO INDEX */
.cIndex0 h2 {
    letter-spacing: 0.43em;
    font-weight: bold;
    font-size: 9.675rem;
    margin-left: 8rem;
    color: white;
}

/* INDEX (sobre) */

.cIndexPar {
    width: 47%;
    color: white;
    margin-left: 4rem;
}

h3.biog, .cIndexImpar {
    width: 39%;
    align-self: flex-end;
    color: black;
    margin-right: 4rem;
}

/* FOOTER-------------------- */
#idFooter {
    height: 4.375rem;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#idFooter ul {
    list-style: none;
    float: left;
}

#idFooter ul li {
    position:relative;
    float: left;
}

#idFooter ul li a {
    color:white;
    padding: 0.3125rem 0.625rem;
    display: block;

    text-decoration: none;
}

/* RESPONSIVIDADE-------------------- */

@media(max-width: 900px) {
    /* HEADER */
    label[for="bt_menu"]{
        display: block;
    }

    #bt_menu:checked ~ #idHeader{
        display: block;
        margin-left: 0;
    }
    #idHeader{
        margin-top: 0.3125rem;
        margin-left: -100%;
        border:0;
        transition: all .4s;
    }
    #idHeader ul li {
        width: 100%;
        float: none;
    }
    #idHeader ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    #idHeader ul li:hover ul {
        height: auto;
        max-height: 12.5rem;
    }

    iframe {
        margin-top: 0.5rem;
        height: 5rem;
        width: 90%;
    }

    .FaixaImpar article {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
    }

    main#mainDisco h3 {
        font-size: 1rem;
    }
    
    .FaixaImpar {
        justify-content:  flex-end;
        align-items: flex-start;
        align-self: flex-end;
        text-align: justify;
    }

    div section.FaixaImpar {
        margin-right: 0;
    }
    
    .FaixaPar {
        justify-content:  center;
        align-items: flex-start;
        margin-left: 3rem;
        text-align: justify;
    }

    .cIndexImpar, .cIndexPar{
        font-size: 0.9rem;
    }
    
    h3.biog {
        font-size: 2rem;
    }
}

@media(min-width: 0px) and (max-width:769px) {
    .FaixaImpar article {
        margin: 0;
    }
    h2 {
        padding: 0.3rem;
        margin: 0;
        width: 80%;
    }

    h2 img {
        width: 100%;
    }
    
    div, .cIndex0 {
        height: fit-content;
        /* display: block; */
        width:100vw;
    }

    .cIndex0 h2 {
        font-size: 6rem;
        margin: 0;
        background-color: rgb(31, 30, 30);
        width: 100%;
        line-height: normal;
        letter-spacing: 0.43rem;
    }

    main header.cIndex0, #mainDisco header {
        height: unset;
    }

    div section.FaixaImpar, div section.FaixaPar {
        width: 100%;
    }

    .FaixaImpar h3, .FaixaPar h3{
        align-self: center;
        padding-top: 1rem;
    }

    main#mainDisco h3{
        margin: 0;
    }

    div#Titulo h2 img{
        display: block;
        width: 100vw;
    }

    div.lTitulo {
        height: 100%;
    }

    .cIndexImpar, .cIndexPar, section.FaixaPar h3 + article p, section.FaixaImpar h3 + article p{
        position: relative;
        display: block;
        margin: 0;
        height: fit-content;
        padding: 1rem 2rem 1rem 2rem;
        width: 100%;
    }

    .cIndexImpar, .cIndexPar {
        color: black;
    }

    .FaixaPar, .FaixaImpar {
        height: fit-content;
        position: relative;
        color: white;
    }

    h3.biog, .cIndexImpar, .FaixaImpar, .FaixaPar{
        width: 100%;
        margin: 0;
    }

    body #mainDisco {
        background-color: black;
    }

    h3.biog {
        padding-top:1rem;
        font-size: 2.3rem;
    }

    iframe {
        display: block;
        width: 90vw;
        align-self: center;
    }

    #idFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 2rem;
        font-size: 1rem;
        height: 20vh;
    }
}

@media(min-width: 1200px) {
    #TagMain, #mainDisco {
        line-height: 200%;
    }
}

@media(min-width: 481px) {
    .cIndexPar, .cIndexImpar {
        font-size: 1.25rem;
        line-height: 180%;
    }
    h3.biog, .cIndexPar, .cIndexImpar {
        padding: 1rem;
    }
}